html, body
{
  height: 100%;
  margin: 0;
}

body
{
	background-image:"LOG IN.jpg";
}

.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

#logo_img
{
	width: 100px;
	margin-top: 40px;
	border-radius: 50px;
}

.logo
{
	width: 90px;
	margin-top: 30px;
	border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}



